.gradle
.kotlin
streamlinecloud.db
build/
!gradle/wrapper/gradle-wrapper.jar
finished_builds/*
/streamlinecloud-node/src/main/resources/streamlinecloud-mc
/streamlinecloud-main/src/test/
!**/src/main/**/build/
!**/src/test/**/build/
/testSystem/

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations/
!.idea/dictionaries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
script/osx_startTest.command
